.header {
  height: 100vh;
  min-height: 70rem;
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__paragraph {
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;

    &--top {
      font-size: 4.5rem;
      margin-top: 12rem;
    }

    &--bottom {
      font-size: 2.5rem;
      margin-top: 2rem;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.6rem;
      }

      @media only screen and (max-width: $bp-extrasmall) {
        font-size: 1.2rem;
      }
    }
  }

  &__heading {
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
    text-align: center;
    line-height: 1;

    display: flex;
    flex-direction: column;

    &--gradient {
      font-size: 20rem;
      letter-spacing: 3rem;
      text-indent: 3rem;
      background-image: linear-gradient(49deg, $main-color2, $main-color3);
      -webkit-background-clip: text;
      color: transparent;

      @media only screen and (max-width: $bp-small) {
        font-size: 13rem;
      }

      @media only screen and (max-width: $bp-extrasmall) {
        font-size: 9rem;
      }
    }

    &--white {
      font-size: 12rem;
      letter-spacing: 6.2rem;
      text-indent: 6.2rem;

      @media only screen and (max-width: $bp-small) {
        font-size: 6rem;
      }

      @media only screen and (max-width: $bp-extrasmall) {
        font-size: 2.5rem;
      }
    }
  }

}

.navigation {
  position: fixed;
  top: 0;
  background-color: $main-color1;
  width: 100%;
  padding: 0 2rem;
  z-index: 100;
  transition: all .3s;

  @media only screen and (max-width: $bp-large) {
    transform: translateY(-30rem);
  }

  &--visible {
    transform: translateY(0);
  }

  &__list {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2.5rem 0;

    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      &::after {
        content: "";
        border: 1px solid $color-white;
        display: block;
        flex-grow: 1;
        width: 1rem;
        margin-left: 3rem;

        @media only screen and (max-width: 62.5em) {
          margin-left: 2rem;
        }

        @media only screen and (max-width: $bp-large) {
          display: none;
        }

      }
    }
  }

  &__link {

    &:link,
    &:visited {
      font-size: 2.2rem;
      color: $color-white;
      text-transform: uppercase;
      transition: color .2s;
    }

    &:hover,
    &:active {
      color: #a21af0;
    }
  }
}

.hamburger-button {
  font-size: 6rem;
  color: $color-white;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: $main-color3;
  }
}

.hamburger-button {
  background: linear-gradient(rgba($main-color1, .9), rgba($main-color1, .9));
  padding: 1.8rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 5px;
  z-index: 100;
  border: none;

  display: none;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    display: flex;
  }

  &__icon {
    font-size: 4rem;
  }
}