.section-portfolio {
  text-align: center;
  padding: 6rem 2rem;
}

.portfolio {
  max-width: 120rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: minmax(10rem, 20rem) repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

  &__image {
    justify-self: center;
  }
}

.portfolio-nav {
  grid-row: 1 / span 6;
  grid-column: 1 / span 1;
  text-align: left;

  &__list {
    @media only screen and (max-width: $bp-small) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: 2.2rem;
      color: $text-color2;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 6rem;
      transition: color .2s;

      @media only screen and (max-width: $bp-small) {
        margin-right: 2rem;
      }
    }

    &:hover,
    &:active {
      color: $main-color2;
    }


  }
}